*{
    background-color: #f0b2f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
   text-align: center; 
}

#menu li {
    display: inline-block; 
    margin-right: 20px;     
    color:rgb(65, 1, 65); 
    font-size: 20px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover{
    color: black;
    font-size: 23px;
}

header{
   text-align: justify;
}

header h2 {
    font-size:60px; 
    text-align: center;
}

header p {
    margin: 10px 100px;
}