*{
    background-color: #f0b2f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

#menu li {
    
    display: inline-block; 
    margin-right: 20px;     
    color:rgb(65, 1, 65); 
    font-size: 20px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover{
    color: black;
    font-size: 23px;
}

header h2 {
    font-size:60px; 
    text-align: center;
}

header p {
    margin: 14px 100px;
}

section h3{
    text-align: center;
}

section iframe{
    display: flex;
    margin: auto;
}

.sobre img {
    display: flex; 
    margin: auto;
    width:300px;
}

.sobre p {
    margin: 14px 100px;
}

.curiosidades p {
    margin: 14px 100px;
}

.curiosidades ul {
    margin: 14px 100px;
}

/* PÁGINA DE CONTATO: */

#map-container {
    
    width: 50%; /* define a largura da div */
    margin: 0 auto; /* centraliza a div */
  }